@import url('http://fonts.googleapis.com/css?family=Lobster+Two');

*{
  box-sizing: border-box;
}

.box{
  float:left;
  width: 200px;
  height: 200px;
  /*background: url('http://placekitten.com/250/200');*/
  overflow: hidden;
  margin: 5px;
  border: 5px solid #e7e7e7;
  box-shadow: 0px 0px 15px 0px #FFF,
              0px 5px 15px 0px #000;
}
.cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}
.cover img{
    float:right;
    cursor:pointer;
}
.cover .title{
  font-size: 16pt;
  font-style: bold;
}
.box .cover .intro{
  line-height: 1.2em;
  width: 100%;
  position: relative;
  font-size: 10pt;
  overflow: hidden;
}
/*.cover .btn{*/
  /*padding: 0.5em 1em;*/
  /*margin: 0.5em;*/
  /*background: #0099cc;*/
  /*float: right;*/
  /*border-radius: 0.25em;*/
/*}*/
.btn1 {
    float:right;
    margin: 20px -10px 0 0;
}
.btn1 a{
  font-size:8pt;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: #0099cc;
  color: #fff;
  text-decoration: none;
}
.cover .date{
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 10pt;
}
.box:hover .left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   left: 0px;
}
.box:hover .right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   right: 0px;
}
.left{
  top: -200px;
  left: -250px;
}
.right{
  top: -200px;
  right: -250px;
}
/* Ordering */
  .left{order:1;}
  .right{order:2;}
  .top{order:3;}
  .bottom{order:4;}
  .top-left{order:5;}
  .top-right{order:6;}
  .bottom-left{order:7;}
  .bottom-right{order:8;}

